@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Configuration

@* @inject IBookRepository _bookRepo *@
@inject IConfiguration _configuration
@inject IOptionsSnapshot<NewBookAlertConfig> _newBookAlertConfiguration
@* @inject IOptionsSnapshot<NewBookAlertConfig> _newBookAlertConfiguration *@
@{
    // var newBook = _configuration.GetSection("NewBookAlert");
    // var newBook = new NewBookAlertConfig();
    // _configuration.Bind("NewBookAlert", newBook);
    // var newBookAlertConfiguration = _newBookAlertConfiguration.Value;
    var newBookAlertConfiguration = _newBookAlertConfiguration.Get("InternalBook");
    var thirdPartyBookAlertConfiguration = _newBookAlertConfiguration.Get("ThirdPartyBook");
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container-fluid">


            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo.png" width="30" height="30" asp-append-version="true" />
                @* Book Store *@
                @* @_bookRepo.GetAppName() *@
                @_configuration["AppName"]

            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav">
                    <partial name="_logininfo"/>
                    @* <li class="nav-item">
                        <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Login">Login</a>
                        <a class="btn btn-primary" asp-controller="Account" asp-action="Signup">Register</a>
                    </li> *@
                </ul>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs">ContactUs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">AboutUs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="GetAllbooks">All Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-protocol="http" asp-host="cgg.gov.in" asp-controller="Home" asp-action="Index">New Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="AddNewBook">Add New Book</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
   @*   @if (_configuration.GetValue<bool>("NewBookAlert:DisplayNewBookAlert"))
    {
        <div class="alert alert-info" role="alert"> 
            @* This is message *@
  @*            @(_configuration.GetValue<string>("NewBookAlert:BookName"))
        </div>
    }   *@
      @* @if (newBook.GetValue<bool>("DisplayNewBookAlert"))
    {
        <div class="alert alert-info" role="alert">  *@
            @* This is message *@
       @*      @(newBook.GetValue<string>("BookName")) 
        </div>
    } *@
 @*    @if (newBook.DisplayNewBookAlert)
    {
        <div class="alert alert-info" role="alert"> 
           
            @newBook.BookName
        </div>
        
    } *@
 @*    @if (_newBookAlertConfiguration.Value.DisplayNewBookAlert)
    {
        <div class="alert alert-info" role="alert">

            @_newBookAlertConfiguration.Value.BookName
        </div>
    }  *@
     @if (newBookAlertConfiguration.DisplayNewBookAlert)
    {
        <div class="alert alert-info" role="alert">

            @newBookAlertConfiguration.BookName
        </div>
    } 
     @if (thirdPartyBookAlertConfiguration.DisplayNewBookAlert)
    {
        <div class="alert alert-info" role="alert">

            @thirdPartyBookAlertConfiguration.BookName
        </div>
    }

</header>